#!/bin/ksh

[[ ! -e "/mnt/app" ]] && mount -t qnx6 /dev/mnanda0t177.1 /mnt/app
mount -uw /mnt/app

if [[ -e "/mnt/app/eso/hmi/lsd/jars/{JAR_NAME}" ]]; then
    echo "Removing {JAR_NAME}..."
    rm -f "/mnt/app/eso/hmi/lsd/jars/{JAR_NAME}"
else
    echo "error: /mnt/app/eso/hmi/lsd/jars/{JAR_NAME} not found"
fi